div .card {
    min-height: 400px;
    max-height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}

div .card-body {
    text-align: left;
    top: 300px;
}

div .card-img-top {
    min-height: 240px;
    max-height: 240px;
}